<section id="about-us">
  <div class="grid-x about-us">
    <div class="cell">
      <h1 class="text-center headline">A FEW WORDS</h1>
    </div>
    <div class="cell">
      <h2 class="subhead text-center">ABOUT US</h2>
    </div>
    <div class="cell">
      <p class="copy text-center">
        Since 2001, Jaques Andres and the Bay Bridge Motors team have been proudly servicing Mini, BMW and Land Rover cars in the Bay Area. We specialize in these brands and offer a quality alternative to dealer service for your gas, hybrid or electric vehicle.</p>
    </div>
  </div>
  <div class="grid-x align-center about-us">
    <div class="cell large-8 medium-10 small-12 text-center">
      <div class="cell shrink">
        <img class="leno-logo" src="{{root}}assets/img/jay-lenos-garage.svg" alt="">
      </div>
      <p class="copy">Featured our "Twini" (Dual engine Mini)</p>
      <div class="responsive-embed">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7YL7pURth3o" frameborder="0" allow="accelerometer; encrypted-media; gyroscop;" allowfullscreen></iframe> </div>
    </div>
    <div class="cell text-center"><a href="#contact-us" data-smooth-scroll><button type="button" class="button alert">MESSAGE US</button></a></div>
  </div>
</section>
