<div class="off-canvas position-left" id="offCanvas" data-off-canvas data-transition="overlap">
  <div class="grid-x">
    <div class="cell auto"></div>
    <div class="cell shrink">
      <button aria-label="Close alert" type="button" data-close><i class="fa far fa-times fa-lg close-x"></i></button>
    </div>
  </div>
  <div class="grid-x grid-padding-x text-center">
    <div class="cell">
      <a href="{{root}}"><img style="margin: 1rem" src="{{root}}assets/img/bbm.svg"></a>
      <a href="tel://+15102083273"><button type="button" class="button alert pushdown"><i class="far fa-phone fa-lg"></i>&nbsp;(510) 208-3273</button></a>
    </div>
    <div class="cell align-center pushdown">
      <ul class="offcanvas-menu">
        <li><a href="#services" data-smooth-scroll data-animation-easing="swing" data-close>SERVICES</a></li>
        <li><a href="#about-us" data-smooth-scroll data-animation-easing="swing" data-close>ABOUT US</a></li>
        <li><a href="#reviews" data-smooth-scroll data-animation-easing="swing" data-close>REVIEWS</a></li>
      </ul>
    </div>
  </div>
  <div class="grid-x grid-padding-x grid-padding-y align-spaced pushdown">
    <div class="cell shrink"><a href="#contact-us" data-smooth-scroll><button type="button" class="button small alert" data-close>MESSAGE US</button></a></div>
    <div class="cell shrink"><a href="https://www.facebook.com/pages/Bay-Bridge-Motors/218588981495788" target="_blank" rel="noopener" class="social-icon-button facebook"><span><i class="fab fa-facebook-f" aria-hidden="true"></i></span></a></div>
  </div>
</div>
<div class="off-canvas-content" data-off-canvas-content>
