<section id="reviews">
  <div class="grid-x reviews">
    <div class="cell">
      <h1 class="text-center headline"> ONE WORD</h1>
    </div>
    <div class="cell">
      <h2 class="subhead text-center">INTEGRITY</h2>
    </div>
    <div class="cell text-center">
      <p class="copy">We do really good work. We're proud of that. But the highest compliment a customer can pay us, is to tell us we treated them fairly.</p>
    </div>
    <div class="cell">
      <div class='embedsocial-reviews' data-ref="17e0735efe7c948467c0ce4a10fd928b95af1162"></div><script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/embedscript/ri.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialReviewsScript"));</script>
    </div>
    <div class="cell text-center"><a href="#contact-us" data-smooth-scroll><button type="button" class="button alert">MESSAGE US</button></a></div>
  </div>
</section>
