{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bay Bridge Motors</title>

  <link rel="stylesheet" href="https://use.typekit.net/dcb1lbg.css">
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150409875-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-150409875-1');
  </script>

</head>

<body>
  <div id="page">
    {{> off-canvas}}{{> menu-top}}{{> slider}}{{> services}}{{> about-us}}{{> reviews}}{{> contact-us}}
  </div>
  </div> <!-- Closes off canvas content DO NOT REMOVE -->


  <script src="{{root}}assets/js/app.js"></script>

</body>

</html>
